<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Score Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>
        Predict Student Score Based on Study Hours
    </h1>
    <form action="/predict" method="post">
        <label for="hours">Enter Study Hours:</label>
        <input type="number" id="hours" name="hours" step="0.1" required>
        <button type="submit">Predict</button>
    </form>
    <div class="opt">
        {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %}
    </div>
    
</body>
</html>